<h1>Data Health Check Report</h1>

<table class="scorecards_table table-striped">
  <thead>
    <tr>
      <th>Site</th>
      <th>Client Name</th>
      <th># Records Processed</th>
      <th>Vertical</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @scorecards.each do |scorecard| %>
      <%= scorecard.init_data() %>
      <tr>
        <td><%= scorecard.site_id %></td>
        <td><%= scorecard.org_name %></td>
        <td><%= scorecard.total_records %></td>
        <td><%= scorecard.vertical %></td>
        <td><%= link_to 'Show', scorecard %></td>
        <td><%= link_to 'Edit', edit_scorecard_path(scorecard) %></td>
        <td><%= link_to 'Destroy', scorecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scorecard', new_scorecard_path %>
