<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @scorecard.site_id %>
</p>

<p>
  <strong>Org name:</strong>
  <%= @scorecard.org_name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @scorecard.data %>
</p>

<p>
  <strong>Total Records:</strong>
  <%= @total_records %>
</p>

<%= link_to 'Edit', edit_scorecard_path(@scorecard) %> |
<%= link_to 'Back', scorecards_path %>
